<footer class="pie">
  <div class="pie-columnas">
    <div>
      <a class="marca" routerLink="/">Cine<span>Moran</span></a>
      <p>Tu cine de siempre, con la mejor experiencia en pantalla grande.</p>
    </div>

    <div>
      <h4>Dónde estamos</h4>
      <p>Av. Bartolomé Mitre 750<br />B1870 AAU, Provincia de Buenos Aires</p>
    </div>

    <div>
      <h4>Horarios</h4>
      <p>Lunes a jueves: 13 a 00 hs<br />Viernes a domingo: 12 a 02 hs</p>
    </div>

    <div>
      <h4>Seguinos</h4>
      <p>
        Instagram: @cinemoran<br />
        Facebook: /cinemoran<br />
        TikTok: @cinemoran
      </p>
    </div>
  </div>

  <p class="pie-copyright">© {{ anio }} CineMoran · Todos los derechos reservados</p>
</footer>
