<nav>
  <a class="marca" routerLink="/">Cine<span>Moran</span></a>

  <div class="nav-links">
    <a routerLink="/">Cartelera</a>
    <a routerLink="/proximamente">Próximamente</a>
    @if (authService.currentUser()?.rol === 'administrador') {
      <a routerLink="/admin/crear-pelicula">+ Película</a>
      <a routerLink="/admin/crear-funcion">+ Función</a>
      <a routerLink="/admin/cupones">Cupones</a>
      <a routerLink="/admin/crear-producto">+ Producto</a>
      <a routerLink="/admin/crear-combo">+ Combo</a>
    }
    @if (authService.currentUser()?.rol === 'empleado' || authService.currentUser()?.rol === 'administrador') {
      <a routerLink="/empleado/validar">Validar entrada</a>
    }
  </div>

  <div class="nav-sesion">
    @if (authService.currentUser()) {
      <a routerLink="/perfil">Hola, {{ authService.currentUser()!.nombre }}</a>
      <button class="btn-secundario" (click)="logout()">Cerrar sesión</button>
    } @else {
      <a routerLink="/login">Ingresar</a>
      <a class="btn-primario" routerLink="/registro">Registrarme</a>
    }
  </div>
</nav>
